#---------------
# Fernet config
#---------------

FERNET_DEV_MODE=false
FERNET_LOG_LEVEL=250 # Log level in notice 

#---------------
# My app config
#---------------

APP_TITLE="A dev journal, by Albo"
APP_LOGO="☕"
APP_TWITTER="https://twitter.com/4lb0"
APP_GITHUB="https://github.com/4lb0"
